@page "/test"
@inject IJSRuntime  ijsr

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter  ShowButtons="true" CurrentValue="200" LeftData="YYY" RightData="X" OnEdgeHit="OnEdgeHit" Name="one" />
<Counter ShowButtons="true" CurrentValue="400" LeftData="ZZZ" RightData="Q" Name="two" OnEdgeHit="OnEdgeHit"/>
<Counter ShowButtons="true" CurrentValue="600" LeftData="MMM" RightData="B" Name="three" OnEdgeHit="OnEdgeHit"/>
<Counter ShowButtons="true" CurrentValue="800" LeftData="ccc" RightData="l" Name="four" OnEdgeHit="OnEdgeHit"/>

@code
{

    string AddOne(string s)
    {
        System.Text.StringBuilder sb = new System.Text.StringBuilder(s);
        for (int i = 0; i<sb.Length;i++)
        {
            sb[i]++;

        }
        return sb.ToString();
    }
    void Alert(string s)
    {
        ijsr.InvokeAsync<int>("BlazorAlert", s);
    }
    void OnEdgeHit(Counter it, Counter.Edge e)
    {
        Console.WriteLine($"in the main component:{it.Name}  at edge {e}");
        if (e==Counter.Edge.Left)
        {
            it.LeftData += it.RightData;
            it.RightData = AddOne(it.RightData);
            it.CurrentValue = 1000;
            it.MoveLeft();
        }
    }
}